/* This is the extra style for the CSS demo page only
This should be linked to alongside the main styles.css page */

.container {
    border: solid 2px;
    background: #b2d5ff;
    margin-bottom: 1em;
  }

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 0 20px 30px 0;
  line-height: 1.4;
  background-color: rgb(231, 191, 98);
  } /*font for all text*/

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
} /*css for image*/