/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

body {
  font-family: DejaVu Sans Mono, monospace;
  background-color: rgb(173, 216, 230);
  text-align: center;
  }

footer {
  color: rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: lightgrey;
  height: 125px;
  width: 1750px;
}

li {
  list-style-type: none;
}

.header {
  font-weight: bold;
}

.resize {
  height: auto;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
